{% load static %}
<link rel="stylesheet" href="../static/css/home.css?{% now "U" %} ">
<link rel="stylesheet" href="../static/css/about.css?{% now "U" %}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<script src="https://smtpjs.com/v3/smtp.js"></script>


{% include 'navbar.html' %} 

<!-- About -->
<section class="about" id="about">
    <div class="heading">
        
        <h2>Travel Buddy</h2>
        
    </div>
    <!-- About Content -->
    <div class="about-container">
        <div class="about-text">
        <span>Introduction</span>
            <p>Travel Buddy holidays is one of the recognized holiday brands that cater to all types of travelers, from solo adventurers to families, couples, and groups of friends . We're committed to providing reliable and up-to-date information to ensure that you have a safe and enjoyable trip. </p>
        <span>How we work?</span>
            <p>Travel Buddy offers tours to the most exciting travel destinations in India like Kerala, Jammu and Kashmir, Goa, Rajasthan and many more.We work closely with tour leaders which helps in delivering complete tour packages that include different transport including air, train, bus, Hotels with proper facilities.Based on the information gathered from our clients, we create a personalized itinerary that includes recommended destinations, activities, accommodations, and transportation options.We offer round-the-clock support to our clients throughout their trip, including emergency assistance if needed.We continually review and update our travel planning processes and procedures to ensure that we provide the highest level of service and exceed our clients' expectations. </p>
        <span>Our Goal</span>
             <p> Provide our clients with a personalized and stress-free travel planning experience that results in unforgettable memories and experiences. <br><br>Whether you're looking for inspiration for your next adventure, searching for the best deals on flights and accommodations, or seeking expert advice from fellow travelers, we've got you covered.So, why waste any more time stressing over your trip planning? Start exploring our website today and let us help you create your dream vacation!</p>
     </div>

</section>