{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="static/css/home.css?{% now "U" %}">
    <link rel="stylesheet" href="static/css/slideshow.css">
    <title>Travel Buddy</title>
</head>
<body>
    
  {% include 'navbar.html' %} 

        <!-- Slideshow  -->
        <div class="wrapper">
            <div class="imgSlider"></div>
            <div class="text">
                <h1>Travel Buddy</h1>
                <h3>Get The Best Experience Ever!</h3>
            </div>
        </div>
    {% include 'sugg1.html' %}
    <script src="static/js/home.js"></script>
</body>
</html>