<!-- Navbar -->
<link rel="stylesheet" href="/static/css/nav.css">
<header>
    <nav>
        <a href="/"><span class="background-demo"></span></a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li id="link"><a href="/packages">Packages</a></li>
        <li ><a href="/destination">Destinations</a></li>
        <li ><a href="/about">About</a></li>
        <li ><a href="/contact">Contact Us</a></li>
        <li ><a href="/userProfile">{{user.CName}}</a></li>
      </ul>
    </nav>
  </header>
  <script src="/static/js/nav.js"></script>