<html lang="en">
<head>
    <meta charset="UTF-8">         
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/addpack.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddNewPackage</title>
</head>
<body> 
  <a href="{% url 'admin'%}" class="button">back</a>  
  <div class="register">
    <h2>Add Package</h2>
    <form id="newpack" method="post" action="" >{% csrf_token %}

      <div><label> From-City</label><br>&nbsp;<input id="x" type="text" name="F_City" placeholder = "From-City" ></div>

      <div><label> From-State</label><br>&nbsp;<input id="x" type="text" name="F_State" placeholder = "From-State"></div>
      
      <div><label> Destination</label><br>&nbsp;<input id="x" type="text" name="Dest" placeholder = "Destination"></div>

      <div><label> Destination</label><br>&nbsp;<input id="x" type="text" name="Dest" placeholder = "Destination"></div>
      
      <div><label>No. of Days</label><br>&nbsp;<input id="x" type="text" name="NoOfDays" id="NoOfDays" placeholder="Number of Days"></div>

      <div><label id="y">Season</label><br><input type="radio" name="season" id="Summer"><span>Summer</span>
        <input type="radio" name="season" id="Winter"><span>Winter</span>
        <input type="radio" name="season" id="Monsoon"><span>Monsoon</span>
        <input type="radio" name="season" id="All"><span>All</span>
      </div>

      <div>
        <label for="Budget_Type">Budget Type</label>
        <input id="x" list="Budget_Type" name="Budget" id="Budget" placeholder="Budget_Type">
        <datalist id="Budget_Type">
          <option value="High">
          <option value="Medium-High">
          <option value="Medium">
          <option value="Medium-Low">
          <option value="Low">
        </datalist>
      </div>

      <br><br>
      <a href="{% url 'pridict'%}" id="submit">Predict</a> 
      <input type="submit" value="submit" id="submit" name="submit">


    </form>
  </div>
  


  
  
  <script src="../static/js/addpack.js"></script>
</body>
</html>